body {
    background-color: #6B705C !important;
}

* {
    cursor: grab;
}

.h1 {
    color: #A5A58D;
    font-size: 50px;
}

.btn {
    align-self: end !important;
}

.custom-button {
    margin: 5% 0%;
    background-color: #FFE8D6;
    border: 1px solid #6B705C;
    width: 100%;
    align-self: flex-end;
    display: flex;
    margin-top: auto;
}

.custom-button:hover {
    background-color: #A5A58D;
    border-color: #FFE8D6;
    width: 100%;
}

.custom-alert {
    font-weight: bold;
}

.custom-header {
    color: #A5A58D;
}

.custom-title {
    font-size: 2rem;
}

.container-full {
    display: flex;
    justify-content: center;
    background-color: #B7B7A4;
    padding: 20px;
}

.custom-footer {
    color: #6c757d;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
}

.footer-columns {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
    color: #5f6359;
}

.footer-icons {
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
}

.footer-icons img {
    width: 24px;
    height: 24px;
}

.icon {
    margin: 5px;
}

.content {
    min-height: 70%;
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-areas: "menu order advertisement" ". order advertisement" ". order .";
    gap: 10px;
    margin: 10px 0px;
}

.menu {
    grid-area: menu;
    background-color: #5f6359;
    padding: 3%;
    border-radius: 5px;
}

.menu a {
    display: block;
    padding: 10px;
    color: #6B705C;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #B7B7A4;
    border-color: #6B705C;
}

.menu a:hover {
    background-color: #A5A58D;
    border-color: #FFE8D6;
    color: #FFE8D6;
}

.catalog {
    background-color: #5f6359;
    position: sticky;
    top: 0px;
    z-index: 5;
}

.order {
    grid-area: order;
    background-color: #FFE8D6;
    padding: 20px;
    border-radius: 5px;
}

.advertisement {
    grid-area: advertisement;
    background-color: #DDBEA9;
    padding: 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.img-link {
    height: 100%;
    width: 100%;
    margin: 5% 0%;
}

.conteiner {
    width: 100%;
    display: flex;
}

.adv {
    background-color: #FFE8D6;
    border-radius: 10px;
    padding: 10%;
    margin: 10%;
    float: left;
    width: 100%;
    align-self: center;
}

.custom-a {
    color: #6B705C;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
}

.custom-a:hover {
    color: #FFE8D6;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
}

.p-adv {
    margin: 2% 7%;
    color: #FFE8D6;
    text-align: right;
    width: 100%;
    text-align: start;
}

.custom-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    background-color: #DDBEA9;
    width: 30%;
    margin: 1px;
    color: #f9ecec;
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.custom-btn {
    margin-top: auto;
    background-color: #A5A58D;
    color: #f9ecec;
    padding: 5% 10%;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.opacity-20 {
    opacity: 0.2;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #6B705C;
    font-size: 40px;
    font-weight: bold;
}

.cont {
    display: flex;
    margin-top: 2%;
}

.cont-h {
    background-color: #B7B7A4;
    margin: 1% 0%;
    padding: 1% 0%;
    color: #6B705C;
    text-align: center;
    width: 100%;
    border-radius: 5px;
}

.custom-btn2 {
    background-color: #B7B7 A4;
    border-radius: 5px;
    border-color: #5f6359;
    color: #5f6359;
    padding: 0px 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    padding: 20px;
}

.grid-element {
    background-color: #DDBEA9;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.grid-element img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.grid-element h3 {
    margin: 10px 0;
    font-size: 20px;
}

.custom-button {
    margin-top: auto;
    background-color: #FFE8D6;
    border: 1px solid #6B705C;
    color: #6B705C;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #A5A58D;
    border-color: #FFE8D6;
    color: #FFE8D6;
}

.cust-count {
    background-color: #A5A58D;
    border-radius: 30px;
    margin: 5px;
    padding: 0px 5px;
}

.catalog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #5f6359;
}

.logo {
    text-decoration: none;
    color: #B7B7A4;
    font-size: 24px;
}

.navigation ul {
    display: flex;
    list-style: none;
    align-items: end;
    padding: 0;
    margin: 0;
}

.navigation ul li {
    margin-left: 20px;
}

.navigation ul a {
    text-decoration: none;
    color: #B7B7A4;
    padding: 5px 10px;
    text-align: center;
}

.navigation ul a:hover {
    background-color: #555;
    border-radius: 5px;
}

@media (max-width: 1280px) {
    .grid-container {
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width: 910px) {
    .advertisement {
        display: none;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .content {
        min-height: 70%;
        display: grid;
        grid-template-columns: 15% auto 15%;
        grid-template-areas: "catalog catalog catalog" ". menu ." ". order ." ". order .";
        gap: 10px;
        margin: 10px 0px;
    }
    .card {
        width: 100%;
    }
    .text-center,
    .cont-h {
        font-size: 30px;
    }
}

@media (max-width: 750px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .grid-element {
        min-width: 200px;
        padding: 10px;
    }
    .footer-columns {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    .footer-column {
        color: #5f6359;
        font-size: 80%;
        margin-bottom: 10px;
    }
    .footer-icons {
        display: flex;
        align-items: flex-start;
    }
    .footer-icons img {
        display: none;
    }
    .text-center,
    .cont-h {
        font-size: 15px;
    }
    .custom-btn2 {
        display: none;
    }
    .footer-column {
        font-size: 80%;
    }
    .foot-h3 {
        font-size: 100%;
    }
    .custom-button {
        display: block;
        width: 100%;
        margin: 10px 0;
    }
    .navbar .btn {
        display: block;
        width: 100%;
        margin: 5px 0;
    }
}
